<div class="row">
  <div class="small-12 columns">
    <%= link_to t('actions.edit'), edit_medical_test_path(@medical_test) %> |
    <%= link_to 'Historia', history_path(@medical_test.history) %> |
    <%= link_to 'Todas las pruebas', medical_tests_path(user_id: @medical_test.history.user) %>
  </div>
</div>
