<div class="row">
  <div class="row">
    <h1><%= t('analisys.edit.title')  %>></h1>

    <%= render 'form', analisy: @analisy %>

    <%= link_to 'Show', @analisy %> |
    <%= link_to 'Back', analisies_path %>
  </div>
</div>
