<div class="row">
  <div class="small-12 columns">
    <h1 class="page-title"><%= t('medical_tests.new.title')%></h1>
    <h4> Paciente: <%= @user.full_name if @user.present?%> </h4>
  </div>
</div>

<%= render 'form'%>

<%= link_to t('actions.back'), medical_tests_path %>
