<div class="row">
  <div class="row">
    <h1 class="page-title"><%= t('professionals.edit.title')  %></h1>
    <%= render 'form', professional: @professional %>

    <%= link_to t('actions.show'), @professional %> |
    <%= link_to t('actions.back'), professionals_path %>

  </div>
</div>


