<h4>Asuntos</h4>

<%= render "search_form" %>

<%= link_to " " + t('actions.create', resource: 'cita'), new_issue_path(user_id: user, kind: 'appointment'), class: "icon-calendar" %> |
<%= link_to " " + t('actions.create', resource: 'nota'), new_issue_path(user_id: user, kind: 'annotation' ),class: "icon-pencil" %>  |

<% @issues.each do |issue| %>
  <br>
  <%= render 'issue', issue: issue %>
<% end %>

<% if @issues.empty? %>
  <div class="panel">
    No hay datos
  </div>
<% end %>
