<div class="row">
  <div class="row">
    <h1 class="page-title"><%= t('prescriptions.edit.title')  %>></h1>

  <%= render 'form', prescription: @prescription %>

  <%= link_to t('actions.show'), @prescription %> |
  <%= link_to t('actions.back'), prescriptions_path %>
  </div>
</div>