<div class="row" >
  <p class="note">
  <div class="small-12 columns">
    <strong> <%= t('medical_tests.index.import.title') %> </strong>
    <%= form_tag import_medical_tests_path, multipart: true do %>
      <div class="medium-4 columns">
        <%= file_field_tag :file %>
      </div>
      <div class="medium-2 columns end">
        <%= submit_tag t('medical_tests.index.import.button'), class: "hollow button" %>
      </div>
    <% end %>
  </div>
  </p>
</div>

