<div class="row">
  <div class="small-12 columns">
    <h1>Determinación analítica</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>
      <%= render 'shared/test_header', medical_test: @medical_test %>
    </p>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <%= render 'shared/show_test_docs', medical_test: @medical_test %>
  </div>
</div>
<br>
<% if @medical_test.name == 'Análisis' %>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'shared/show_analysis', medical_test: @medical_test %>
    </div>
  </div>
<% end %>


