<div class="row">
  <div class="row">
    <h1><%= t('medications.edit.title')  %></h1>
    <%= render 'form', medication: @medication %>

    <%= link_to t('actions.show'), @medication %> |
    <%= link_to t('actions.back'), medications_path %>
  </div>
</div>