<h4>Historial</h4>

<%= render "histories/search_form" %>

<%= link_to t('actions.create', resource: 'cita'), new_history_path(user_id: user, kind: 'appointment') %> |
<%= link_to t('actions.create', resource: 'nota'), new_history_path(user_id: user, kind: 'annotation' ) %>

<% @histories.no_pending.each do |history| %>
  <br>
  <%= render "shared/history", history: history%>
<% end %>

<% if histories(user).empty? %>
  <div class="panel">
    No hay datos
  </div>
<% end %>
