<div class="row">
  <div class="row">
    <h1 class="page-title"><%= t('histories.edit.title')  %> </h1>

    <%= render 'form', history: @history %>

    <%= link_to t('actions.show'), @history %> |
    <%= link_to t('actions.back'), histories_path(user_id: @history.user ) %>
  </div>
</div>