<div class="row">
  <div class="row">
    <h1><%= t('histories.edit.title')  %>></h1>

    <%= render 'form', history: @history %>

    <%= link_to 'Show', @history %> |
    <%= link_to 'Back', histories_path %>
  </div>
</div>