<h2><%= @patient.full_name %></h2>
<div class="row" >
  <div class="small-12 columns" >
   <%= render 'appointments' %>

   <%= render 'histories' %>


   <br>
   <%= link_to t("actions.create", resource: 'Historia'), new_patient_path %>
  </div>
</div>
