<div class="row">
  <div class="small-12 columns" >
    <% if params[:kind].present?  %>
      <h2>Nueva  <%= t("history.kind.#{params[:kind]}")%> para <%= @history.patient.full_name %></h2>
    <% else %>
      <h2>Nueva historia para <%= @history.patient.full_name %></h2>
    <% end %>
  </div>
</div>

<%= render 'form' %>

