<tr id="<%= dom_id(document)%>">
  <td class="text-center">
    <%= link_to document.title,
                document.attachment.url,
                target: "_blank",
                rel: "nofollow",
                title: t('documents.buttons.download_document') %>
  </td>
  <td class="text-center">
    <%= link_to '',
                document_path(document, from: request.url), method: :delete,
                title: t('documents.buttons.destroy_document'),
                data: { confirm: t('documents.actions.destroy.confirm') },
                class: 'icon-trash' %>
  </td>
</tr>