<%= link_to t('actions.back'), patients_path %>
<h1><%= t('patients.new.title')%> </h1>

<div class="row" %>
  <div class="small-12 columns">
    <%= render 'form', patient: @patient %>
  </div>
</div>
