
$base-font-size:      rem-calc(17);
$base-line:           rem-calc(26);
$small-font-size:     rem-calc(14);
$line-height:         rem-calc(24);
$tiny-font-size:      rem-calc(12);
$base-font-size:      rem-calc(17);
$base-line:           rem-calc(26);

$brand:             #004a83;
$dark:              darken($brand, 10%);

$text:              #222;
$text-medium:       #515151;
$text-light:        #bfbfbf;

$border:            #dee0e3;

$link:              $brand;
$link-hover:        darken($link, 20%);

$debates:           $brand;

$like:              #7bd2a8;
$unlike:            #ef8585;

$delete:            #f04124;
$check:             #46db91;

$proposals:         #ffa42d;
$proposals-dark:    #794500;

$budget:            #7e328a;
$budget-hover:      #7571bf;

$highlight:         #e7f2fc;
$highlight-soft:    #f3f8fd;
$light:             #f5f7fa;
$featured:          #ffdc5c;

$footer-border:     #bfc1c3;

$success-bg:        #dff0d8;
$success-border:    #d6e9c6;
$color-success:     #3c763d;

$info-bg:           #d9edf7;
$info-border:       #bce8f1;
$color-info:        #31708f;

$warning-bg:        #fcf8e3;
$warning-border:    #faebcc;
$color-warning:     #8a6d3b;

$alert-bg:          #f2dede;
$alert-border:      #ebccd1;
$color-alert:       #a94442;


body {
  background: $primary-color;
  color: $secondary-color;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: white;

  &.visited {
    color: mediumpurple;
  }

  &.hover {
    color: $warning-color;
    background-color: white;
  }
}

table {
  margin-bottom: 0;

  border-color: $primary-color;
  background-color:   $secondary-color;
  color: $oil;
  a {
    color: black;
  }

  thead tr{
    border: 0;
  }

  td {
    border: none;
    background-color: white;
  }
  th {
    background-color: $secondary-color;
  }
  th, td {
    padding: rem-calc(12) rem-calc(6);

    &.default-col {
      padding-left: rem-calc(50);
      text-align: left;
    }

    &.full-col {
      text-align: left;
      width: 100%;
    }

    &.long-col {
      padding-left: rem-calc(50);
      text-align: left;
      width: 45%;
    }

    &.medium-col {
      width: 17%;
    }

    &.indicator-ten {
      width: 10%;
    }

    &.short-col {
      width: 5%;
    }

    &.indicator-fifteen {
      width: 15%;
    }

  }

  td {
    font-size: rem-calc(12);
    padding-bottom: rem-calc(5);
    padding-top: 0;
  }

  .indicator-metric-amount {
    width: rem-calc(160);
    text-align: right;
  }

  input {
    font-size: rem-calc(12);
    height: auto !important;
    margin: rem-calc(6) 0 !important;
    width: 100%;
    &.amount {
      text-align: right;
    }
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: #ec9861;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #fffbff;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: black;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#notice {
  color: #a2ff31
}

label {
  display: block;
  font-size: 0.875rem;
  color: darken($secondary-color, 15%);
}

.top_bar {
  background: darkkhaki !important;
  margin-bottom: 25px  !important;
}

h1.page-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: $secondary-color;
}

.initial-page-title {
    text-align: center;
    font-weight: bold;
    font-size: 95px;
    color: $secondary-color;

}
.header-page-title {
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    color: $secondary-color;
}

.panel {
  border-color: $primary-color;
  background: $secondary-color;
  color: $oil;
  a {
    color: purple;
  }
}

.pending {
  color: darken(#AD141E, 0%);
  font-weight: bold;
}

.tachado {
  text-decoration:line-through;
}

fieldset{
  legend{
    color: $secondary-color;
    background: $primary-color;
  }
}

.history-item {
  color: $primary-color;
  font-weight: bold;
}

table.comming{
  tr{
    border: 0;
    border-color: $secondary-color;
  }
  td{
    border: 0;
    background-color: $secondary-color;;
  }
  a{
    color: #1847df;
  }
}

.history{
  .note {
    height: 150px !important;
    overflow: auto;
  }
}
