<div class="row">
  <div class="medium-10 medium-offset-2 column">
    <ul>
      <% if current_user %>
          <li>
            <%= current_user %>
            <%= link_to t("layouts.subnavigation_menu.users"), users_path, class: ("active" if controller_name == "users") , accesskey: "e" %>
          </li>
          <li>
            <%= link_to t("layouts.subnavigation_menu.professionals"), professionals_path, class: ("active" if controller_name == "professionals"), accesskey: "d" %>
          </li>
          <li>
            <%= link_to t("layouts.subnavigation_menu.medications"), medications_path, class: ("active" if controller_name == "ptofessionals"), accesskey: "d" %>
          </li>
      <% end %>
    </ul>
  </div>
</div>